<h1 class="title">Perfil de usuario</h1>

<form id='formUpdateProfile'>
    <div class="columns">
        <div class="column is-half">
            <div class="field">
                <label for="name" class="label">Nombre</label>
                <div class="control">
                    <input name="name" type="text" class="input" value={{this.first_name}} disabled>
                </div>
            </div>
        </div>
        <div class="column is-half">
            <div class="field">
                <label for="name" class="label">Apellido</label>
                <div class="control">
                    <input name="name" type="text" class="input" value={{this.last_name}} disabled>
                </div>
            </div>
        </div>
    </div>

    <div class="columns">
        <div class="column">
            <div class="field">
                <label for="email" class="label">Email</label>
                <div class="control">
                    <input name="email" type="email" class="input" value={{this.email}}>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="field">
                <label for="age" class="label">Edad</label>
                <div class="control">
                    <input name="age" type="number" class="input" value={{this.age}} disabled>
                </div>
            </div>
        </div>
    </div>
      
    <div class="columns">
        <div class="column">
            <div class="field">
                <label for="adress" class="label">Dirección</label>
                <div class="control">
                    <input name="adress" type="text" class="input" value="{{this.adress}}">
                </div>
            </div>
        </div>
        <div class="column">
            <div class="field">
                <label for="hone" class="label">Teléfono Móvil</label>
                <div class="control">
                    <input name="phone" type="tel" class="input" value={{this.phone}}>
                </div>
            </div>
        </div>
    </div>
   
    <div class="columns">
        <div class="column is-one-third">
            <div class="field">
                <label for="avatar" class="label">Foto de perfil</label>
                <div class="control">
                    <input name="avatar" type="file" class="input">
                </div>
            </div>
            <p id="isCorrect"></p>
        </div>
    </div>

    <div class="columns">
       <div class="column">
           <div class="control">
               <input type="submit" value="Actualizar" class="button is-primary">
           </div>
       </div>
    </div>
  
</form>
<!--SCRIPTS-->
<script type="text/javascript" src="../js/profile.js"></script>