<h3 class="display-3 text-center">Lista de productos</h3>

{{#if productos}}
<table class="table table-dark table-striped table-hover align-middle text-center">
    <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Foto</th>
        <th>Stock</th>
    </tr>
    {{#each productos}}
    <tr>
        <td>{{this.title}}</td>
        <td>{{this.description}}</td>
        <td>{{this.price}}</td>
        <td>
            <img src={{this.thumbnail}} alt={{this.title}} class="img-fluid" />
        </td>
        <td>{{this.stock}}</td>
    </tr>
    {{/each}}
</table>
{{else}}
<p class="lead">No hay productos</p>
{{/if}}
